---
import FormInput from "../../../components/form-input.component/index.astro";
import Button from "../../../components/button.component/index.astro";
import { button, inputList } from "./data.json";
---

<form action="POST" class="mt-6 tablet:mt-10 desktop:mt-12">
  <Fragment>
    {
      inputList.map(({ name, placeholder, type, id }, index) => (
        <FormInput {name} {placeholder} {type} {id} {index} />
      ))
    }
  </Fragment>
  <Button type="input" value="Sign up!" classList="mt-6">{button.text}</Button>
</form>
