---
interface Props {
  classList?: string;
  type?: "button" | "input" | "link";
  link?: string;
  value?: string;
}
const { classList, type = "button", link, value } = Astro.props;

const fallback = "Click here!";

const style =
  "max-[330px]:w-max max-[330px]:px-2 text-base text-white first:mb-4 bg-button rounded-md font-semibold drop-shadow-[2px_2px_4px_rgba(0,0,0,0.25)] py-2 w-[50%] text-center cursor-pointer hover:bg-button-hover tablet:py-3 tablet:w-[25%] tablet:text-lg";
---

<div class=`flex justify-center items-center ${classList ? classList : ""}`>
  {
    type === "input" ? (
      <input type="button" class={`${style}`} value={value ?? fallback} />
    ) : type === "link" || link !== undefined ? (
      <a href={link} class={`${style}`}>
        <slot>{fallback}</slot>
      </a>
    ) : (
      <button class={`${style}`}>
        <slot>{fallback}</slot>
      </button>
    )
  }
</div>
